extend ./flower_form.pug

block title
  title=title || "Editing Flower"

block header
  h1= title || "Editing Flower"

append form elements
  input(
    type='hidden'
    name='id'
    value=prepopulatedValues.id
  )
  input(
    type='hidden'
    name='isUpdate'
    value='true'
  )
