extends ../layout

block more style sheets
  link(rel='stylesheet', href='/stylesheets/form.css')

block content
  h1= name
  p= description
  p Price: #[span.pale-text #{price}]
  p Number In Stock: #[span.pale-text #{numberInStock}]
  p Region:
    a(href=region.url)= " " + region.name
  form(method='POST' action='')
    input(type='hidden', value=flowerId, name='flowerId')
    button(
      type='submit'
    ) Delete Flower
  a(href=`${flowerUrl}/update`) Update Flower
