extends ../layout

block more style sheets
  link(rel='stylesheet', href='/stylesheets/list.css')
  link(rel='stylesheet', href='/stylesheets/form.css')

block content
  h1= title
  ul.list
    each flower in flower_list
      li
        - const { name, url, id } = flower
        form(method='POST' action=`${url}` style='width: min-content')
          input(type='hidden', value=id, name='flowerId')
          button(
            type='submit'
            style='margin: 0'
          )= `Delete ${name}`
