extends ../layout

block more style sheets
  link(rel='stylesheet', href='/stylesheets/list.css')
  link(rel='stylesheet', href='/stylesheets/form.css')

block content
  h1= region.name
  ul.list
    each flower in flower_list
      li
        - const { name, description, url } = flower
        h2
          a(href= url)= name
        p= description
  form(method='POST' action='/regions/delete')
    - const hasFlowers = flower_list.length !== 0
    input(type='hidden', value=region._id, name='regionId')
    button(
      type='submit'
      disabled=(hasFlowers ? true : undefined)
    ) Delete Region
