extends ../form.pug

append more style sheets
  link(rel='stylesheet', href='/stylesheets/center-text.css')

block title
  title=title || "Delete Region"

block header
  h1= title || `Choose Region to delete`

block form elements
  each region in all_regions
    label.center-text(for=region.name)= region.name
    input(type='radio' name='regionId' id=region.name value=region._id)

  button(type='submit') Delete
